:root {
	--ctp-mocha-rosewater: #f5e0dc;
	--ctp-mocha-rosewater-rgb: rgb(245, 224, 220);
	--ctp-mocha-rosewater-hsl: hsl(10, 56%, 91%);
	--ctp-mocha-rosewater-raw: 245, 224, 220;
	--ctp-latte-flamingo: #dd7878;
	--ctp-latte-flamingo-rgb: rgb(221, 120, 120);
	--ctp-latte-flamingo-hsl: hsl(0, 60%, 67%);
	--ctp-latte-flamingo-raw: 221, 120, 120;
	--ctp-mocha-flamingo: #f2cdcd;
	--ctp-mocha-flamingo-rgb: rgb(242, 205, 205);
	--ctp-mocha-flamingo-hsl: hsl(0, 59%, 88%);
	--ctp-mocha-flamingo-raw: 242, 205, 205;
	--ctp-latte-pink: #ea76cb;
	--ctp-latte-pink-rgb: rgb(234, 118, 203);
	--ctp-latte-pink-hsl: hsl(316, 73%, 69%);
	--ctp-latte-pink-raw: 234, 118, 203;
	--ctp-mocha-pink: #f5c2e7;
	--ctp-mocha-pink-rgb: rgb(245, 194, 231);
	--ctp-mocha-pink-hsl: hsl(316, 72%, 86%);
	--ctp-mocha-pink-raw: 245, 194, 231;
	--ctp-latte-mauve: #8839ef;
	--ctp-latte-mauve-rgb: rgb(136, 57, 239);
	--ctp-latte-mauve-hsl: hsl(266, 85%, 58%);
	--ctp-latte-mauve-raw: 136, 57, 239;
	--ctp-mocha-mauve: #cba6f7;
	--ctp-mocha-mauve-rgb: rgb(203, 166, 247);
	--ctp-mocha-mauve-hsl: hsl(267, 84%, 81%);
	--ctp-mocha-mauve-raw: 203, 166, 247;
	--ctp-latte-red: #d20f39;
	--ctp-latte-red-rgb: rgb(210, 15, 57);
	--ctp-latte-red-hsl: hsl(347, 87%, 44%);
	--ctp-latte-red-raw: 210, 15, 57;
	--ctp-mocha-red: #f38ba8;
	--ctp-mocha-red-rgb: rgb(243, 139, 168);
	--ctp-mocha-red-hsl: hsl(343, 81%, 75%);
	--ctp-mocha-red-raw: 243, 139, 168;
	--ctp-latte-maroon: #e64553;
	--ctp-latte-maroon-rgb: rgb(230, 69, 83);
	--ctp-latte-maroon-hsl: hsl(355, 76%, 59%);
	--ctp-latte-maroon-raw: 230, 69, 83;
	--ctp-mocha-maroon: #eba0ac;
	--ctp-mocha-maroon-rgb: rgb(235, 160, 172);
	--ctp-mocha-maroon-hsl: hsl(350, 65%, 77%);
	--ctp-mocha-maroon-raw: 235, 160, 172;
	--ctp-latte-peach: #fe640b;
	--ctp-latte-peach-rgb: rgb(254, 100, 11);
	--ctp-latte-peach-hsl: hsl(22, 99%, 52%);
	--ctp-latte-peach-raw: 254, 100, 11;
	--ctp-mocha-peach: #fab387;
	--ctp-mocha-peach-rgb: rgb(250, 179, 135);
	--ctp-mocha-peach-hsl: hsl(23, 92%, 75%);
	--ctp-mocha-peach-raw: 250, 179, 135;
	--ctp-latte-yellow: #df8e1d;
	--ctp-latte-yellow-rgb: rgb(223, 142, 29);
	--ctp-latte-yellow-hsl: hsl(35, 77%, 49%);
	--ctp-latte-yellow-raw: 223, 142, 29;
	--ctp-mocha-yellow: #f9e2af;
	--ctp-mocha-yellow-rgb: rgb(249, 226, 175);
	--ctp-mocha-yellow-hsl: hsl(41, 86%, 83%);
	--ctp-mocha-yellow-raw: 249, 226, 175;
	--ctp-latte-green: #40a02b;
	--ctp-latte-green-rgb: rgb(64, 160, 43);
	--ctp-latte-green-hsl: hsl(109, 58%, 40%);
	--ctp-latte-green-raw: 64, 160, 43;
	--ctp-mocha-green: #a6e3a1;
	--ctp-mocha-green-rgb: rgb(166, 227, 161);
	--ctp-mocha-green-hsl: hsl(115, 54%, 76%);
	--ctp-mocha-green-raw: 166, 227, 161;
	--ctp-latte-teal: #179299;
	--ctp-latte-teal-rgb: rgb(23, 146, 153);
	--ctp-latte-teal-hsl: hsl(183, 74%, 35%);
	--ctp-latte-teal-raw: 23, 146, 153;
	--ctp-mocha-teal: #94e2d5;
	--ctp-mocha-teal-rgb: rgb(148, 226, 213);
	--ctp-mocha-teal-hsl: hsl(170, 57%, 73%);
	--ctp-mocha-teal-raw: 148, 226, 213;
	--ctp-latte-sky: #04a5e5;
	--ctp-latte-sky-rgb: rgb(4, 165, 229);
	--ctp-latte-sky-hsl: hsl(197, 97%, 46%);
	--ctp-latte-sky-raw: 4, 165, 229;
	--ctp-mocha-sky: #89dceb;
	--ctp-mocha-sky-rgb: rgb(137, 220, 235);
	--ctp-mocha-sky-hsl: hsl(189, 71%, 73%);
	--ctp-mocha-sky-raw: 137, 220, 235;
	--ctp-latte-sapphire: #209fb5;
	--ctp-latte-sapphire-rgb: rgb(32, 159, 181);
	--ctp-latte-sapphire-hsl: hsl(189, 70%, 42%);
	--ctp-latte-sapphire-raw: 32, 159, 181;
	--ctp-mocha-sapphire: #74c7ec;
	--ctp-mocha-sapphire-rgb: rgb(116, 199, 236);
	--ctp-mocha-sapphire-hsl: hsl(199, 76%, 69%);
	--ctp-mocha-sapphire-raw: 116, 199, 236;
	--ctp-latte-blue: #1e66f5;
	--ctp-latte-blue-rgb: rgb(30, 102, 245);
	--ctp-latte-blue-hsl: hsl(220, 91%, 54%);
	--ctp-latte-blue-raw: 30, 102, 245;
	--ctp-mocha-blue: #89b4fa;
	--ctp-mocha-blue-rgb: rgb(137, 180, 250);
	--ctp-mocha-blue-hsl: hsl(217, 92%, 76%);
	--ctp-mocha-blue-raw: 137, 180, 250;
	--ctp-latte-lavender: #7287fd;
	--ctp-latte-lavender-rgb: rgb(114, 135, 253);
	--ctp-latte-lavender-hsl: hsl(231, 97%, 72%);
	--ctp-latte-lavender-raw: 114, 135, 253;
	--ctp-mocha-lavender: #b4befe;
	--ctp-mocha-lavender-rgb: rgb(180, 190, 254);
	--ctp-mocha-lavender-hsl: hsl(232, 97%, 85%);
	--ctp-mocha-lavender-raw: 180, 190, 254;
	--ctp-latte-text: #4c4f69;
	--ctp-latte-text-rgb: rgb(76, 79, 105);
	--ctp-latte-text-hsl: hsl(234, 16%, 35%);
	--ctp-latte-text-raw: 76, 79, 105;
	--ctp-mocha-text: #cdd6f4;
	--ctp-mocha-text-rgb: rgb(205, 214, 244);
	--ctp-mocha-text-hsl: hsl(226, 64%, 88%);
	--ctp-mocha-text-raw: 205, 214, 244;
	--ctp-latte-subtext1: #5c5f77;
	--ctp-latte-subtext1-rgb: rgb(92, 95, 119);
	--ctp-latte-subtext1-hsl: hsl(233, 13%, 41%);
	--ctp-latte-subtext1-raw: 92, 95, 119;
	--ctp-mocha-subtext1: #bac2de;
	--ctp-mocha-subtext1-rgb: rgb(186, 194, 222);
	--ctp-mocha-subtext1-hsl: hsl(227, 35%, 80%);
	--ctp-mocha-subtext1-raw: 186, 194, 222;
	--ctp-latte-subtext0: #6c6f85;
	--ctp-latte-subtext0-rgb: rgb(108, 111, 133);
	--ctp-latte-subtext0-hsl: hsl(233, 10%, 47%);
	--ctp-latte-subtext0-raw: 108, 111, 133;
	--ctp-mocha-subtext0: #a6adc8;
	--ctp-mocha-subtext0-rgb: rgb(166, 173, 200);
	--ctp-mocha-subtext0-hsl: hsl(228, 24%, 72%);
	--ctp-mocha-subtext0-raw: 166, 173, 200;
	--ctp-latte-overlay2: #7c7f93;
	--ctp-latte-overlay2-rgb: rgb(124, 127, 147);
	--ctp-latte-overlay2-hsl: hsl(232, 10%, 53%);
	--ctp-latte-overlay2-raw: 124, 127, 147;
	--ctp-mocha-overlay2: #9399b2;
	--ctp-mocha-overlay2-rgb: rgb(147, 153, 178);
	--ctp-mocha-overlay2-hsl: hsl(228, 17%, 64%);
	--ctp-mocha-overlay2-raw: 147, 153, 178;
	--ctp-latte-overlay1: #8c8fa1;
	--ctp-latte-overlay1-rgb: rgb(140, 143, 161);
	--ctp-latte-overlay1-hsl: hsl(231, 10%, 59%);
	--ctp-latte-overlay1-raw: 140, 143, 161;
	--ctp-mocha-overlay1: #7f849c;
	--ctp-mocha-overlay1-rgb: rgb(127, 132, 156);
	--ctp-mocha-overlay1-hsl: hsl(230, 13%, 55%);
	--ctp-mocha-overlay1-raw: 127, 132, 156;
	--ctp-latte-overlay0: #9ca0b0;
	--ctp-latte-overlay0-rgb: rgb(156, 160, 176);
	--ctp-latte-overlay0-hsl: hsl(228, 11%, 65%);
	--ctp-latte-overlay0-raw: 156, 160, 176;
	--ctp-mocha-overlay0: #6c7086;
	--ctp-mocha-overlay0-rgb: rgb(108, 112, 134);
	--ctp-mocha-overlay0-hsl: hsl(231, 11%, 47%);
	--ctp-mocha-overlay0-raw: 108, 112, 134;
	--ctp-latte-surface2: #acb0be;
	--ctp-latte-surface2-rgb: rgb(172, 176, 190);
	--ctp-latte-surface2-hsl: hsl(227, 12%, 71%);
	--ctp-latte-surface2-raw: 172, 176, 190;
	--ctp-mocha-surface2: #585b70;
	--ctp-mocha-surface2-rgb: rgb(88, 91, 112);
	--ctp-mocha-surface2-hsl: hsl(233, 12%, 39%);
	--ctp-mocha-surface2-raw: 88, 91, 112;
	--ctp-latte-surface1: #bcc0cc;
	--ctp-latte-surface1-rgb: rgb(188, 192, 204);
	--ctp-latte-surface1-hsl: hsl(225, 14%, 77%);
	--ctp-latte-surface1-raw: 188, 192, 204;
	--ctp-mocha-surface1: #45475a;
	--ctp-mocha-surface1-rgb: rgb(69, 71, 90);
	--ctp-mocha-surface1-hsl: hsl(234, 13%, 31%);
	--ctp-mocha-surface1-raw: 69, 71, 90;
	--ctp-latte-surface0: #ccd0da;
	--ctp-latte-surface0-rgb: rgb(204, 208, 218);
	--ctp-latte-surface0-hsl: hsl(223, 16%, 83%);
	--ctp-latte-surface0-raw: 204, 208, 218;
	--ctp-mocha-surface0: #313244;
	--ctp-mocha-surface0-rgb: rgb(49, 50, 68);
	--ctp-mocha-surface0-hsl: hsl(237, 16%, 23%);
	--ctp-mocha-surface0-raw: 49, 50, 68;
	--ctp-latte-base: #eff1f5;
	--ctp-latte-base-rgb: rgb(239, 241, 245);
	--ctp-latte-base-hsl: hsl(220, 23%, 95%);
	--ctp-latte-base-raw: 239, 241, 245;
	--ctp-mocha-base: #1e1e2e;
	--ctp-mocha-base-rgb: rgb(30, 30, 46);
	--ctp-mocha-base-hsl: hsl(240, 21%, 15%);
	--ctp-mocha-base-raw: 30, 30, 46;
	--ctp-latte-mantle: #e6e9ef;
	--ctp-latte-mantle-rgb: rgb(230, 233, 239);
	--ctp-latte-mantle-hsl: hsl(220, 22%, 92%);
	--ctp-latte-mantle-raw: 230, 233, 239;
	--ctp-mocha-mantle: #181825;
	--ctp-mocha-mantle-rgb: rgb(24, 24, 37);
	--ctp-mocha-mantle-hsl: hsl(240, 21%, 12%);
	--ctp-mocha-mantle-raw: 24, 24, 37;
	--ctp-latte-crust: #dce0e8;
	--ctp-latte-crust-rgb: rgb(220, 224, 232);
	--ctp-latte-crust-hsl: hsl(220, 21%, 89%);
	--ctp-latte-crust-raw: 220, 224, 232;
	--ctp-mocha-crust: #11111b;
	--ctp-mocha-crust-rgb: rgb(17, 17, 27);
	--ctp-mocha-crust-hsl: hsl(240, 23%, 9%);
	--ctp-mocha-crust-raw: 17, 17, 27;
}